.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
}
.container{
    background-color: white;
    border: 1.5px solid black;
    border-radius: 10px;
    text-align: center;
}


.mat-table {
    display: table;
    
}

.mat-table > .mat-header-row, .mat-table > .mat-row {
  display: table-row;
  padding: 0;
  border: none;
}

.mat-table > .mat-header-row > .mat-header-cell, 
.mat-table > .mat-row > .mat-cell {
    display: table-cell;
    height: 48px;
    vertical-align: middle;
    padding: 0 0.5em;
  max-width: 25vh;
  overflow: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}